// color scheme
// first color scheme
$white: #fff;
$snow: #fafafa;
$quick-silver: #a0a0a0;
// second color scheme
$jelly-bean: #e56353;
$salmon: #e97f72;
$pastel-pink: #f0a9a1;
// third color scheme
$granite-gray: #686963;
$taupe-gray: #91918d;
$gray: #babab8;
